In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/0.MKCE/Datasets/mnc_salary.csv")

In [ ]:
print(data)

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes

In [ ]:
data2 = pd.get_dummies(data)

In [ ]:
print(data2)

    salary_more_then_100k  company_abc pharma  company_facebook  \
0                       0                   0                 0
1                       0                   0                 0
2                       1                   0                 0
3                       1                   0                 0
4                       0                   0                 0
5                       1                   0                 0
6                       0                   1                 0
7                       0                   1                 0
8                       0                   1                 0
9                       1                   1                 0
10                      1                   0                 1
11                      1                   0                 1
12                      1                   0                 1
13                      1                   0                 1
14                      1                   0                 1
15                      1                   0                 1

    company_google  job_business manager  job_computer programmer  \
0                1                     0                        0
1                1                     0                        0
2                1                     1                        0
3                1                     1                        0
4                1                     0                        1
5                1                     0                        1
6                0                     0                        0
7                0                     0                        1
8                0                     1                        0
9                0                     1                        0
10               0                     0                        0
11               0                     0                        0
12               0                     1                        0
13               0                     1                        0
14               0                     0                        1
15               0                     0                        1

    job_sales executive  degree_bachelors  degree_masters
0                     1                 1               0
1                     1                 0               1
2                     0                 1               0
3                     0                 0               1
4                     0                 1               0
5                     0                 0               1
6                     1                 0               1
7                     0                 1               0
8                     0                 1               0
9                     0                 0               1
10                    1                 1               0
11                    1                 0               1
12                    0                 1               0
13                    0                 0               1
14                    0                 1               0
15                    0                 0               1

In [ ]:
x = data2.drop(['salary_more_then_100k'],axis=1)
y = data2['salary_more_then_100k']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.40, random_state=0)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(9, 8)
(7, 8)
(9,)
(7,)

In [ ]:
model = DecisionTreeClassifier()

In [ ]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
pre=model.predict(x_test)

In [ ]:
model.predict_proba(x_test)

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [ ]:
x_test

,company_abc pharma,company_facebook,company_google,job_business manager,job_computer programmer,job_sales executive,degree_bachelors,degree_masters
1,0,0,1,0,0,1,0,1
6,1,0,0,0,0,1,0,1
8,1,0,0,1,0,0,1,0
9,1,0,0,1,0,0,0,1
13,0,1,0,1,0,0,0,1
4,0,0,1,0,1,0,1,0
2,0,0,1,1,0,0,1,0

In [ ]:
accuracy_score(y_test,pre)

0.7142857142857143

In [ ]:
confusion_matrix(y_test,pre)

array([[3, 1],
       [1, 2]])

In [ ]:
z=classification_report(y_test,pre)
print(z)

              precision    recall  f1-score   support

           0       0.75      0.75      0.75         4
           1       0.67      0.67      0.67         3

    accuracy                           0.71         7
   macro avg       0.71      0.71      0.71         7
weighted avg       0.71      0.71      0.71         7